body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.container{
    /* border: 1px solid black; */
    display: flex;
    float: left;

}
.card-body{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    /* border: 2px solid blueviolet; */
    width: 350px;
    margin: 5px;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.card-img{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}
.card-heading{
    padding: 5px 2px 0px 20px;
    text-align: left;
}
#card-1{
    background-color: rgb(222, 49, 81);
    color: white;
}
#card-2{
    background-color: rgb(217, 59, 48);
    color: white;
}
#card-3{
    background-color: rgb(204, 45, 74);
    color: white;
}
#card-4{
    background-color: rgb(188, 26, 110);
    color: white;
}